In [1]:
import pandas as pd

In [ ]:
from sqlalchemy import create_engine

In [ ]:
df_bronze  = pd.read_csv('2015.csv')

In [ ]:
df_bronze.dtypes

_STATE      float64
FMONTH      float64
IDATE        object
IMONTH       object
IDAY         object
             ...
_RFSEAT2    float64
_RFSEAT3    float64
_FLSHOT6    float64
_PNEUMO2    float64
_AIDTST3    float64
Length: 330, dtype: object

In [ ]:

engine = create_engine("postgresql://postgres:123456@localhost:5432/Project1")

In [ ]:

import psycopg2

conn = psycopg2.connect("dbname=Project1 user=postgres password=123456 host=localhost port=5432")
cur = conn.cursor()

with open(r"C:\Users\msalman.mushtaq\Downloads\archive\2015.csv", 'r') as f:
    next(f)  
    cur.copy_expert("COPY bronze1.raw FROM STDIN WITH CSV HEADER", f)

conn.commit()
cur.close()
conn.close()
print("Data loaded in seconds!")

Data loaded in seconds!

In [ ]:

with engine.connect() as conn:
    df_bronze = pd.read_sql("SELECT * FROM bronze1.raw LIMIT 5", conn)
print(df_bronze)

  _state fmonth        idate imonth   iday    iyear dispcode         seqno  \
0    4.0   11.0  b'11302015'  b'11'  b'30'  b'2015'   1200.0  2015005130.0
1    4.0   11.0  b'11132015'  b'11'  b'13'  b'2015'   1100.0  2015005131.0
2    4.0   11.0  b'11202015'  b'11'  b'20'  b'2015'   1100.0  2015005132.0
3    4.0   11.0  b'11102015'  b'11'  b'10'  b'2015'   1100.0  2015005133.0
4    4.0   11.0  b'11172015'  b'11'  b'17'  b'2015'   1100.0  2015005134.0

           _psu ctelenum  ... _parec1 _pastae1 _lmtact1 _lmtwrk1 _lmtscl1  \
0  2015005130.0      1.0  ...     9.0      9.0      3.0      3.0      4.0
1  2015005131.0      1.0  ...     1.0      1.0      3.0      3.0      4.0
2  2015005132.0      1.0  ...     2.0      2.0      3.0      3.0      4.0
3  2015005133.0      1.0  ...     9.0      9.0      3.0      3.0      4.0
4  2015005134.0      1.0  ...     3.0      2.0      3.0      3.0      4.0

  _rfseat2 _rfseat3 _flshot6 _pneumo2 _aidtst3
0      9.0      9.0     None     None     None
1      1.0      1.0      1.0      1.0      9.0
2      1.0      1.0      1.0      1.0      1.0
3      1.0      1.0     None     None      1.0
4      1.0      1.0      2.0      1.0      1.0

[5 rows x 330 columns]

In [ ]:
df_bronze.describe()

,_state,fmonth,idate,imonth,iday,iyear,dispcode,seqno,_psu,ctelenum,...,_parec1,_pastae1,_lmtact1,_lmtwrk1,_lmtscl1,_rfseat2,_rfseat3,_flshot6,_pneumo2,_aidtst3
count,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,3,3,4
unique,1,1,5,1,5,1,2,5,5,1,...,4,3,1,1,1,2,2,2,1,2
top,4.0,11.0,b'11302015',b'11',b'30',b'2015',1100.0,2015005130.0,2015005130.0,1.0,...,9.0,9.0,3.0,3.0,4.0,1.0,1.0,1.0,1.0,1.0
freq,5,5,1,5,1,5,4,1,1,5,...,2,2,5,5,5,4,4,2,3,3

In [ ]:
print(df_bronze)

  _state fmonth        idate imonth   iday    iyear dispcode         seqno  \
0    4.0   11.0  b'11302015'  b'11'  b'30'  b'2015'   1200.0  2015005130.0
1    4.0   11.0  b'11132015'  b'11'  b'13'  b'2015'   1100.0  2015005131.0
2    4.0   11.0  b'11202015'  b'11'  b'20'  b'2015'   1100.0  2015005132.0
3    4.0   11.0  b'11102015'  b'11'  b'10'  b'2015'   1100.0  2015005133.0
4    4.0   11.0  b'11172015'  b'11'  b'17'  b'2015'   1100.0  2015005134.0

           _psu ctelenum  ... _parec1 _pastae1 _lmtact1 _lmtwrk1 _lmtscl1  \
0  2015005130.0      1.0  ...     9.0      9.0      3.0      3.0      4.0
1  2015005131.0      1.0  ...     1.0      1.0      3.0      3.0      4.0
2  2015005132.0      1.0  ...     2.0      2.0      3.0      3.0      4.0
3  2015005133.0      1.0  ...     9.0      9.0      3.0      3.0      4.0
4  2015005134.0      1.0  ...     3.0      2.0      3.0      3.0      4.0

  _rfseat2 _rfseat3 _flshot6 _pneumo2 _aidtst3
0      9.0      9.0     None     None     None
1      1.0      1.0      1.0      1.0      9.0
2      1.0      1.0      1.0      1.0      1.0
3      1.0      1.0     None     None      1.0
4      1.0      1.0      2.0      1.0      1.0

[5 rows x 330 columns]